<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dt.content.mapper.WebListMapper">
	<sql id="Base_Column_List">
		a.id as 'id',
		a.source_url as 'sourceUrl',
		a.source_name as 'sourceName',
		a.js_enable as 'jsEnable',
		a.type as 'type',
		a.valid as 'valid',
		a.remarks as 'remarks',
		a.create_time as 'createTime',
		a.update_time as 'updateTime',
		a.create_by as 'createBy.id',
		a.update_by as 'updateBy.id'
	</sql>
	<select id="selectByPrimaryKey" resultType="com.dt.content.entity.WebList"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from web_list a
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		web_list
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective" parameterType="com.dt.content.entity.WebList">
		insert into web_list
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="sourceUrl != null">
				source_url,
			</if>
			<if test="sourceName != null">
				source_name,
			</if>
			<if test="jsEnable != null">
				js_enable,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="valid != null">
				valid,
			</if>
			<if test="remarks != null">
				remarks,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="createBy != null and createBy.id!=null">
				create_by,
			</if>
			<if test="updateBy != null and updateBy.id!=null">
				update_by,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="sourceUrl != null">
				#{sourceUrl,jdbcType=VARCHAR},
			</if>
			<if test="sourceName != null">
				#{sourceName,jdbcType=VARCHAR},
			</if>
			<if test="jsEnable != null">
				#{jsEnable,jdbcType=BIT},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="valid != null">
				#{valid,jdbcType=BIT},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null and createBy.id!=null">
				#{createBy.id,jdbcType=INTEGER},
			</if>
			<if test="updateBy != null and updateBy.id!=null">
				#{updateBy.id,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.dt.content.entity.WebList">
		update web_list
		<set>
			<if test="sourceUrl != null">
				source_url = #{sourceUrl,jdbcType=VARCHAR},
			</if>
			<if test="sourceName != null">
				source_name = #{sourceName,jdbcType=VARCHAR},
			</if>
			<if test="jsEnable != null">
				js_enable = #{jsEnable,jdbcType=BIT},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="valid != null">
				valid = #{valid,jdbcType=BIT},
			</if>
			<if test="remarks != null">
				remarks = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null and createBy.id!=null">
				create_by = #{createBy.id,jdbcType=INTEGER},
			</if>
			<if test="updateBy != null and updateBy.id!=null">
				update_by = #{updateBy.id,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="findList" resultType="com.dt.content.entity.WebList"
		parameterType="com.dt.common.entity.Page">
		select
		<include refid="Base_Column_List" />
		from web_list a
		<if test="where!=null and where!=''">
			where ${where}
		</if>
	</select>
</mapper>